<div class="container-fluid" ng-controller="TicketCtrl">
	<h1>Management Interface</h1>
	<div class="row-fluid">
		<section>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th colspan="2" class="text-center info"><h2>Ticket (Reference No. {{currentTicket.referenceNo}})</h2></th>
					</tr>
				</thead>

				<tbody class="table-striped" >
					<tr>
						<td>Status:</td>
						<td>{{currentTicket.status}}</td>
					</tr>
					<tr>
						<td>Created at:</td>
						<td>{{currentTicket.createdAt | date : 'dd. MMMM yyyy hh:mm'}}</td>
					</tr>
					<tr>
						<td>Last update:</td>
						<td>{{currentTicket.updatedAt | date : 'dd. MMMM yyyy hh:mm'}}</td>
					</tr>
					<tr>
						<td>Owner:</td>
						<td>{{currentTicketOwner.username}}</td>
					</tr>
					<tr>
						<td>Customer name:</td>
						<td>{{currentTicket.customerName}}</td>
					</tr>
					<tr>
						<td>Customer email:</td>
						<td>{{currentTicket.customerEmail}}</td>
					</tr>
					<tr>
						<td>Customer department:</td>
						<td>{{currentTicket.customerDepartment}}</td>
					</tr>
					<tr>
						<td>Subject:</td>
						<td>{{currentTicket.subject}}</td>
					</tr>

				</tbody>
			</table>

			<table ng-controller="TicketRequestCtrl" class="table table-bordered">
				<thead>
					<tr>
						<th colspan="3" class="text-left info">
						<form style="float:right;">
							<label class="sr-only">Request</label>
							<textarea style="float:left; margin-right:20px;" cols="100" rows="4" ng-model="newTicketRequest.report" autofocus placeholder="your message" required></textarea>
							<button ng-click="create(newTicketRequest)" style="height:100px;" class="btn btn-primary">
								<span class="glyphicon glyphicon-floppy-save"> </span>Request Ticket
							</button>
						</form><h2 class="text-left">Report History</h2><span>{{message}}</span></th>
					</tr>
				</thead>

				<tbody class="table-striped" >
					<tr>
						<th></th>
						<th class="text-center">Date</th>
						<th class="text-center">Report</th>
					</tr>

					<tr ng-repeat="ticketRequest in currentTicketRequests">
						<td>
						<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(ticketRequest)" >
							<span class="glyphicon glyphicon-remove"></span>Delete
						</button></td>

						<td>{{ticketRequest.createdAt | date : 'dd. MMMM yyyy hh:mm'}}</td>
						<td>{{ticketRequest.report}}</td>
					</tr>
				</tbody>
			</table>

		</section>
	</div>
</div>

