<div class="container-fluid">
	<h1>Management Interface</h1>

	<section>
		{{message}}
		<div ng-controller="TabsCtrl">

			<tabset justified="true" >
				<tab heading="Tickets" ng-controller="TicketCtrl">
					<tabset justified="true">
						<tab heading="New/Unassigned">
							<div class="row-fluid">

								<section >
									<table class="table table-bordered table-hover">
										<thead>

											<tr>
												<th></th>
												<th>Reference No.</th>
												<th>Owner</th>
												<th>Customer</th>
												<th>Department</th>
												<th>Subject</th>
												<th>Status</th>
											</tr>
										</thead>

										<tbody class="table-striped" >
											<tr ng-repeat="ticket in tickets | filter:isNew">
												<td>
												<button class="btn btn-default" ng-click="update(ticket)" >
													<span class="glyphicon glyphicon-floppy-save"></span>Save
												</button>
												<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(ticket)" >
													<span class="glyphicon glyphicon-remove"></span>Delete
												</button>
												<button class="btn btn-default" ng-click="edit(ticket)" >
													<span class="glyphicon glyphicon-edit"></span>Edit
												</button></td>
												<td>{{ticket.referenceNo}}</td>
												<td>
												<select class="form-control" ng-model="ticket.userId" ng-options="user.id as user.username for user in users">
													<option style="display:none" value="">-- select a Owner</option>
												</select></td>
												<td>{{ticket.customerName}} [<a ng-href="mailto:{{ticket.customerEmail}}" target="_blank">{{ticket.customerEmail}}</a>]</td>
												<td>{{ticket.customerDepartment}}</td>
												<td>{{ticket.subject}}</td>
												<td><select class="form-control" ng-model="ticket.ticketStatusId" ng-options="status.id as status.text for status in ticketStatuses"></td>
											</tr>
										</tbody>
									</table>

								</section>
							</div>
						</tab>
						<tab heading="Open">
							<div class="row-fluid">

								<section >
									<table class="table table-bordered table-hover">
										<thead>

											<tr>
												<th></th>
												<th>Reference No.</th>
												<th>Owner</th>
												<th>Customer</th>
												<th>Department</th>
												<th>Subject</th>
												<th>Status</th>
											</tr>
										</thead>

										<tbody class="table-striped" >
											<tr ng-repeat="ticket in tickets | filter:isWaiting">
												<td>
												<button class="btn btn-default" ng-click="update(ticket)" >
													<span class="glyphicon glyphicon-floppy-save"></span>Save
												</button>
												<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(ticket)" >
													<span class="glyphicon glyphicon-remove"></span>Delete
												</button>
												<button class="btn btn-default" ng-click="edit(ticket)" >
													<span class="glyphicon glyphicon-edit"></span>Edit
												</button></td>
												<td>{{ticket.referenceNo}}</td>
												<td>
												<select class="form-control" ng-model="ticket.userId" ng-options="user.id as user.username for user in users">
													<option style="display:none" value="">-- select a Owner</option>
												</select></td>
												<td>{{ticket.customerName}} [<a ng-href="mailto:{{ticket.customerEmail}}" target="_blank">{{ticket.customerEmail}}</a>]</td>
												<td>{{ticket.customerDepartment}}</td>
												<td>{{ticket.subject}}</td>
												<td><select class="form-control" ng-model="ticket.ticketStatusId" ng-options="status.id as status.text for status in ticketStatuses"></td>
											</tr>
										</tbody>
									</table>

								</section>
							</div>
						</tab>
						<tab heading="On Hold">
							<div class="row-fluid">

								<section >
									<table class="table table-bordered table-hover">
										<thead>

											<tr>
												<th></th>
												<th>Reference No.</th>
												<th>Owner</th>
												<th>Customer</th>
												<th>Department</th>
												<th>Subject</th>
												<th>Status</th>
											</tr>
										</thead>

										<tbody class="table-striped" >
											<tr ng-repeat="ticket in tickets | filter:isOnHold">
												<td>
												<button class="btn btn-default" ng-click="update(ticket)" >
													<span class="glyphicon glyphicon-floppy-save"></span>Save
												</button>
												<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(ticket)" >
													<span class="glyphicon glyphicon-remove"></span>Delete
												</button>
												<button class="btn btn-default" ng-click="edit(ticket)" >
													<span class="glyphicon glyphicon-edit"></span>Edit
												</button></td>
												<td>{{ticket.referenceNo}}</td>
												<td>
												<select class="form-control" ng-model="ticket.userId" ng-options="user.id as user.username for user in users">
													<option style="display:none" value="">-- select a Owner</option>
												</select></td>
												<td>{{ticket.customerName}} [<a ng-href="mailto:{{ticket.customerEmail}}" target="_blank">{{ticket.customerEmail}}</a>]</td>
												<td>{{ticket.customerDepartment}}</td>
												<td>{{ticket.subject}}</td>
												<td><select class="form-control" ng-model="ticket.ticketStatusId" ng-options="status.id as status.text for status in ticketStatuses"></td>
											</tr>
										</tbody>
									</table>

								</section>
							</div>
						</tab>
						<tab heading="Closed">
							<div class="row-fluid">

								<section >
									<table class="table table-bordered table-hover">
										<thead>

											<tr>
												<th></th>
												<th>Reference No.</th>
												<th>Owner</th>
												<th>Customer</th>
												<th>Department</th>
												<th>Subject</th>
												<th>Status</th>
											</tr>
										</thead>

										<tbody class="table-striped" >
											<tr ng-repeat="ticket in tickets | filter:isClosed">
												<td>
												<button class="btn btn-default" ng-click="update(ticket)" >
													<span class="glyphicon glyphicon-floppy-save"></span>Save
												</button>
												<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(ticket)" >
													<span class="glyphicon glyphicon-remove"></span>Delete
												</button>
												<button class="btn btn-default" ng-click="edit(ticket)" >
													<span class="glyphicon glyphicon-edit"></span>Edit
												</button></td>
												<td>{{ticket.referenceNo}}</td>
												<td>
												<select class="form-control" ng-model="ticket.userId" ng-options="user.id as user.username for user in users">
													<option style="display:none" value="">-- select a Owner</option>
												</select></td>
												<td>{{ticket.customerName}} [<a ng-href="mailto:{{ticket.customerEmail}}" target="_blank">{{ticket.customerEmail}}</a>]</td>
												<td>{{ticket.customerDepartment}}</td>
												<td>{{ticket.subject}}</td>
												<td><select class="form-control" ng-model="ticket.ticketStatusId" ng-options="status.id as status.text for status in ticketStatuses"></td>
											</tr>
										</tbody>
									</table>
								</section>
							</div>
						</tab>
						<tab heading="Search">
							<div style="margin-top: 20px;" class="container-fluid">
								<form >
									<div class="row-fluid form-group col-md-6 col-md-offset-3">
										<select class="form-control" ng-model="searchObj.searchType" ng-options="type for type in searchTypes">
											<option value="{{searchTypes[0]}}">{{searchTypes[0]}}</option>
										</select>

										<label class="sr-only">Search:</label>
										<input ng-model="searchObj.key" type="text" autofocus class="form-control" placeholder="search" required>

										<button ng-click="search(searchObj)" class="btn btn-primary">
											<span class="glyphicon glyphicon-search"> </span>Search
										</button>

									</div>
								</form>
							</div>

							<div class="container-fluid" ng-show="showSearchResult" >

								<table class="table table-bordered table-hover">
									<thead>

										<tr>
											<th></th>
											<th>Reference No.</th>
											<th>Owner</th>
											<th>Customer</th>
											<th>Department</th>
											<th>Subject</th>
											<th>Status</th>
										</tr>
									</thead>

									<tbody class="table-striped" >
										<tr ng-repeat="ticket in searchResult">
											<td>
											<button class="btn btn-default" ng-click="update(ticket)" >
												<span class="glyphicon glyphicon-floppy-save"></span>Save
											</button>
											<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(ticket)" >
												<span class="glyphicon glyphicon-remove"></span>Delete
											</button>
											<button class="btn btn-default" ng-click="edit(ticket)" >
												<span class="glyphicon glyphicon-edit"></span>Edit
											</button></td>
											<td>{{ticket.referenceNo}}</td>
											<td>
											<select class="form-control" ng-model="ticket.userId" ng-options="user.id as user.username for user in users">
												<option style="display:none" value="">-- select a Owner</option>
											</select></td>
											<td>{{ticket.customerName}} [<a ng-href="mailto:{{ticket.customerEmail}}" target="_blank">{{ticket.customerEmail}}</a>]</td>
											<td>{{ticket.customerDepartment}}</td>
											<td>{{ticket.subject}}</td>
											<td><select class="form-control" ng-model="ticket.ticketStatusId" ng-options="status.id as status.text for status in ticketStatuses"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</tab>
					</tabset>
				</tab>

				<tab heading="Staff" ng-controller="StaffCtrl">
					<div class="row-fluid">

						<section >
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th></th>
										<th>Username:</th>
										<th>Email:</th>
										<th>Role:</th>
									</tr>
								</thead>

								<tbody class="table-striped" >
									<tr ng-repeat="user in users">
										<td>
										<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(user)" >
											<span class="glyphicon glyphicon-remove"></span>Delete
										</button>
										<button class="btn btn-default" ng-click="edit(user)" >
											<span class="glyphicon glyphicon-edit"></span>Edit
										</button></td>
										<td>{{user.username}}</td>
										<td><a ng-href="mailto:{{user.email}}" target="_blank">{{user.email}}</a></td>
										<td><select class="form-control" ng-model="user.roleId" ng-options="role.id as role.rolename for role in roles"></td>
									</tr>
								</tbody>

								<tfoot>
									<button class="btn btn-primary" ng-click="openNewDialog()" >
										<span class="glyphicon glyphicon-new"></span>New
									</button>
								</tfoot>
							</table>

						</section>
					</div>
				</tab>

				<tab heading="Staff Roles" ng-controller="RoleCtrl">
					<div class="row-fluid">

						<section >
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th></th>
										<th>Rolename</th>
										<th>Admin ?</th>
									</tr>
								</thead>

								<tbody class="table-striped" >
									<tr ng-repeat="role in roles">
										<td>
										<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(role)" >
											<span class="glyphicon glyphicon-remove"></span>Delete
										</button>
										<button class="btn btn-default" ng-click="edit(role)" >
											<span class="glyphicon glyphicon-edit"></span>Edit
										</button></td>
										<td>{{role.rolename}}</td>
										<td>{{role.admin}}</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<button class="btn btn-primary" ng-click="openNewDialog()" >
											<span class="glyphicon glyphicon-new"></span>New
										</button>
									</tr>
								</tfoot>
							</table>

						</section>
					</div>
				</tab>

				<tab heading="Ticket Statuses" ng-controller="TicketStatusCtrl">
					<div class="row-fluid">

						<section >
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th></th>
										<th>Status</th>
									</tr>
								</thead>

								<tbody class="table-striped" >
									<tr ng-repeat="status in ticketStatuses">
										<td>
										<button class="btn btn-default" confirm-message="Are you sure?" confirm-click="delete(status)" >
											<span class="glyphicon glyphicon-remove"></span>Delete
										</button>
										<button class="btn btn-default" ng-click="edit(status)" >
											<span class="glyphicon glyphicon-edit"></span>Edit
										</button></td>
										<td>{{status.text}}</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<button class="btn btn-primary" ng-click="openNewDialog()" >
											<span class="glyphicon glyphicon-new"></span>New
										</button>
									</tr>
								</tfoot>
							</table>

						</section>
					</div>
				</tab>
			</tabset>
		</div>
	</section>
</div>

